/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
.logo a { color: #3A64FF; font-size: 80%;}
.logo a:hover { color: #4B9DFF; }
/* li p.first { font-size: 120%; font-weight: 800; background-color: #EEE; padding: 0.5em 1em;} */
li p.first { font-size: 120%; font-weight: 800; border-bottom: groove thin #7af;}
h1, h2, h3, h4, h5 {
    font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
h1 { font-size: 3em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.0em; }
h2, h3, h4, h5 {
    background-color: #FFFCF5;
}

.topic {
    margin: 1em;
}
.topic-title {
    background-color: #CCCCCC;
}

.linkbox {
    padding: 2em;
}
.google_search_button {
    display: none;
}
.strike {
  text-decoration: line-through;
}
.footnote .label a {
   color: blue;
}
.eye-catch {
  text-align: center;
  color: #FF4422;
  font-size: 2em;
}
.annot { font-size: 75.6%; line-height: inherit; }

@media screen and (max-width: 767px) {
  h1 { font-size: 1.6em; border-bottom: 1px solid #4C49FF; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1.0em; }
  h5 { font-size: 0.6em; }
}
